#============= init ==============
allow init sdcardd_exec:file getattr;

#============= nfc ==============
#allow nfc device:chr_file { read write };


#============= system_server ==============
allow system_server persist_file:file { read write };

#============= themeservice_app ==============
allow themeservice_app network_management_service:service_manager find;

#============= time_daemon ==============
allow time_daemon persist_file:dir search;

#============= fingerprintd ==============
allow fingerprintd fingerprintd_sysfs:dir search;
allow fingerprintd fingerprintd_sysfs:dir r_dir_perms;
allow fingerprintd fingerprintd_sysfs:file rw_file_perms;
allow fingerprintd input_device:dir r_dir_perms;
allow fingerprintd input_device:chr_file r_file_perms;
allow fingerprintd firmware_file:file { read getattr open };
allow fingerprintd sysfs:file write;
allow fingerprintd system_data_file:dir { write remove_name add_name };
allow fingerprintd system_data_file:sock_file { create unlink };
allow fingerprintd tee_device:chr_file rw_file_perms;
allow fingerprintd uhid_device:chr_file rw_file_perms;

#============= tee ==============
allow tee proc:file write;
allow tee fingerprintd_data_file:file rw_file_perms;
allow tee fingerprintd_data_file:dir r_dir_perms;
allow tee system_data_file:dir r_dir_perms;
allow tee fingerprintd_data_file:dir create_dir_perms;
allow tee fingerprintd_data_file:file create_file_perms;

allow ueventd fingerprintd_sysfs:file rw_file_perms;


