# Fast charger
type fast_charger_sw, domain;
type fast_charger_sw_exec, exec_type, file_type;

init_daemon_domain(fast_charger_sw)

allow fast_charger_sw sysfs_fast_charger_sw:file { read open };
allow fast_charger_sw sysfs_fast_charger_sw:file rw_file_perms;
allow fast_charger_sw sysfs_fast_charger_sw:file setattr;
allow fast_charger_sw sysfs_fast_charger_sw:dir search;
